* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-family: 'Roboto', sans-serif;
  background: #F3F3F3;
}

/* header styling */

.header {
  text-align: center;
  width: 100vw;
  background: linear-gradient(to right, #DD2476, #FF512F);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  color: #F3F3F3;
  font-family: 'Montserrat', sans-serif
}

.header .title {
  font-size: 38px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 25px 0;
  color: gold;
}

.header p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 5px;
  padding: 20px 15px 25px;
  text-transform: uppercase;
}

/* BirthdayLogForm styling */

.birthdayLogForm {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 0 auto 15px;
}

.birthdayLogForm .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  color:#DD2476;
  padding: 20px 0;
  text-align: center;
}

input{
  padding: 15px 10px;
  border-radius: 10px;
  font-size: 20px;
}

.button-container {
  text-align: center;
}

button {
  display: inline-block;
  width: 150px;
  padding: 15px;
  background-color:#FF512F;
  border: none;
  color: #F3F3F3;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 20px;
}

main {
  padding: 15px;
} 

/* styling the birthday logs */

.birthdayLogs {
  
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  
}
.birthdayLogs .birthdayLog {
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  width: 30%;
  margin: 10px;
}

.birthdayLogs .birthdayLog .birthdayLog-person {

  background: linear-gradient(to right,#757F9A,#D7DDE8 );
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.birthdayLogs .birthdayLog .birthdayLog-person h3 {
  color: #f3f3f3;
  margin: 0;
  padding: 0;
}

.birthdayLogs .birthdayLog .birthdayLog-person .remove {
  color: #FF0000;
  font-size: 24px;
  font-weight: 700;
}

.birthdayLogs .birthdayLog .birthdayLog-content {
  padding: 15px;
}

.birthdayLog-content p {
  color:black;
}

@media (max-width: 768px) {

  .birthdayLogs .birthdayLog {
    width: 45%;
  }
}

@media (max-width: 500px) {

  .birthdayLogs .birthdayLog {
    width: 98%;
  }
}





